.servicesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.servicesContainerInside {
  width: 100%;
  max-width: var(--max-width2);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.serviceCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 10px;
  margin: 10px;
  border-top: 4px solid aquamarine;
  height: 260px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  color: black;
  
}
.serviceCard h5{
  margin: 10px 0;
}

.servicesContainerInside a {
  text-decoration: none;
}

.serviceCard:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.serviceCard > img {
  height: 50%;
  width: 100%;
  object-fit: contain;
}



/* HomeRow1 */

.homeRow1{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.homeRow1Inside {
  width: 100%;
  max-width: var(--max-width2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeRow1Header{
  width: 100%;
  max-width: var(--max-width2);
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.homeRow1HeaderCol1{

}
.homeRow1HeaderCol2{

}

.homeRow1Inside a {
  text-decoration: none;
  color: black;
}
.homeRow1Card{
  border-top: 4px solid aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 230px;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 15px;
  padding: 10px;

}
.homeRow1Card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.homeRow1Card h5{
  margin: 10px 0;
  font-size: 15px;
}
.homeRow1Card p{
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(0, 201, 134);
}
.homeRow1Card img {
  border: 4px solid aquamarine;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
}
/* HomeRow1 */




/* HomeRow2 */

.homeRow2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  
}
.homeRow2Inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: calc(var(--max-width2) - 20px);
  background-color: #0fffdb;
  padding: 15px;
  border-radius: 5px;


}
.homeRow2CardContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.homeRow2Card{
  margin: 10px;
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 110px;
}
.homeRow2Card p{
  font-size: 15px;
  font-weight: 500;
}

.homeRow2Card img{
  border-radius: 50%;
}

/* HomeRow2 */


/* homeRow3 */

.homeRow3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeRow3Inside {
  width: 100%;
  max-width: var(--max-width2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
  flex-wrap: wrap;
}
.homeRow3Card{
  margin: 10px;
  width: 220px;
  height: 220px;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-top: 4px solid aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
}
.homeRow3Card img{
  height: 45%;
  width: 45%;
  border: 4px solid aquamarine;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.homeRow3Card h5 {
  font-size: 16px;
  font-weight: 600;
  
  color: rgb(0, 201, 134);
  text-transform: uppercase;
}


/* homeRow3 */



/* HomeRow4 */

.homeRow4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeRow4Inside {
  width: 100%;
  max-width: var(--max-width2);
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 53, 53);
  border-radius: 5px;
  padding: 20px 15px;

}
.homeRow4Header{
  padding: 15px 15px;
  width: 60%;
  color: white;
}
.homeRow4Content{
  display: flex;
}
.homeRow4CardContainer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.HomeRow4PicContainer{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.homeRow4CardContainer a {
  text-decoration: none;
  color: black;
  display: flex;
  width: 45%;

}
.homeRow4Card {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--accent);
  margin: 10px;
  padding: 7px 10px;
  border-radius: 5px;
  
}
.homeRow4Card img {
  margin-right: 10px;
}
.homeRow4CardContainer h5{
  margin: 0;
  font-size: 17px;
}

.HomeRow4PicContainer img {
  border-radius: 5px;

}

/* HomeRow4 */




/* HomeRow5 */

.homeRow5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homeRow5Inside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width2);
  flex-direction: column;
  margin: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 5px;
}
.homeRow5Inside h3{
  color: coral;
  margin: 5px 0 20px 0;
  text-transform: capitalize;
}
.homeRow5Inside p {
  font-weight: 500;
}
/* HomeRow5 */


/* HomeRow6 */
.homeRow6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}
.homeRow6Header{
  width: 100%;
  max-width: var(--max-width2);
  display: flex;
  justify-content: space-between;
}
.homeRow6Inside {
  width: 100%;
  max-width: calc(var(--max-width2) + 20px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeRow6Card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px;
  width: 230px;
  height: 330px;
  border-radius: 5px;
}
.homeRow6Card h5{
  font-size: 16px;
  margin: 10px 0;
}
.homeRow6Card img{
  border-radius: 5px;
  height: 130px;
}
.homeRow6Card button{
  width: 100%;
}
/* HomeRow6 */