.sliderCaption {
    background-color: rgba(128, 126, 126, 0.5);
    height: 100%;
    color: white;
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sliderContainer1{
    width: 100%;
}